# Web pages:
**/_build
**/_autosummary

# Pycharm IDE files
public
.idea

# Residual files
**/*.log
**/*.sqlite

# Unitests, some personal scripts and corrections must not be pushed
scripts
tests
solutions

# Ignore all images in a specific directory
/project-dataset/*

myenv/*